@model GameTime.Models.CompetitionJudge

@{
    ViewData["Title"] = "AddJudge";
}
<style>
    body {
        background-color: darkviolet;
    }

    .whiteText {
        color: snow;
    }
</style>
<h1 class="whiteText">AddJudge</h1>

<h4 class="whiteText">CompetitionJudge</h4>
<hr />
<div class="row whiteText">
    <div class="col-md-4">
        @ViewData["noJudgesAvailable"]
        <form asp-action="AddJudge">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select asp-for="JudgeID"
                        asp-items="@ViewData["judgeList"]
 as List<SelectListItem>"
                        class="form-control"></select>
                <span asp-validation-for="JudgeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetitionID" class="control-label"></label>
                <input asp-for="CompetitionID" readonly class="form-control" />
                <span asp-validation-for="CompetitionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Judge" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

