@model GameTime.Models.Competition

@{
    ViewData["Title"] = "Delete";
}
<style>
    body {
        background-color: darkviolet;
    }

    .whiteText {
        color: snow;
    }
</style>
<h1 class="whiteText">Delete</h1>

<h3 class="whiteText">Are you sure you want to delete this?</h3>
<div class="whiteText">
    <h4>Competition</h4>
    <hr />
    
    <form asp-action="Delete">
        <fieldset class="FormContent">
            <legend>Are you sure to delete this record?</legend>
            <div class="form-group row">
                <label asp-for="CompetitionID"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-5">
                    <input asp-for="CompetitionID" readonly
                           class="form-control-plaintext whiteText" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="AreaInterestID"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-5">
                    <input asp-for="AreaInterestID" readonly
                           class="form-control-plaintext whiteText" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="CompetitionName"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-5">
                    <input asp-for="CompetitionName" readonly
                           class="form-control-plaintext whiteText" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="StartDate"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-5">
                    <input asp-for="StartDate" readonly
                           class="form-control-plaintext whiteText" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="EndDate"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-5">
                    <input asp-for="EndDate" readonly
                           class="form-control-plaintext whiteText" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ResultReleasedDate"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-5">
                    <input asp-for="ResultReleasedDate" readonly
                           class="form-control-plaintext whiteText" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-9 offset-sm-3">
                    <input type="submit" value="Delete"
                           class="btn btn-primary" />
                </div>
            </div>
            <div>
                <a class="btn btn-primary" asp-action="Index">Back to List</a>
            </div>
        </fieldset>
    </form>
</div>
