
@{
    ViewData["Title"] = "Index";
}

<h1>Sign Up Here</h1>
<a class="nav-link text-dark" asp-area="" asp-controller="SignUp" asp-action="CompetitorSignUp">Competitor Sign Up</a>
<a class="nav-link text-dark" asp-area="" asp-controller="SignUp" asp-action="JudgeSignUp">Judge Sign Up</a>
