
@{
    ViewData["Title"] = "ErrorPage";
}

<h6>@TempData["NotCompetitor"]</h6>

<style>
    body {
        background-color: darkviolet;
    }

    .whiteText {
        color: snow;
    }
</style>

<div class="whiteText">
    <a class="btn btn-primary" href="~/Home">Back to Home</a>
</div>
