@model GameTime.Models.Judge

@{
    ViewData["Title"] = "Judge";
}

<style>
    body {
        background-color: darkviolet;
    }

    .whiteText {
        color: snow;
    }

    .flexb {
        display: flex;
        justify-content: center;
    }

    .welcome {
        align-items: end;
        height: 200px;
    }

</style>


<div class="flexb welcome whiteText">
    <h4>Welcome back @Html.DisplayFor(model => model.Salutation) @Html.DisplayFor(model => model.JudgeName)</h4>
</div>
<div class="flexb justify-content-center whiteText">
    <input class="btn btn-primary" type="button" value="Create Criteria" onclick="location.href='@Url.Action("CreateCriteria", "Judge")'" /> <h4>|</h4>
    <input class="btn btn-primary" type="button" value="View Submission" onclick="location.href='@Url.Action("ViewSubmission", "Judge")'" />
</div>

