@model GameTime.Models.Judge

@{
    ViewData["Title"] = "Judge";
}

<style>
    body {
        background-color: darkviolet;
    }

    .whiteText {
        color: snow;
    }

    .flexb {
        display: flex;
        justify-content: center;
        align-items: end;
        height:200px;
    }

</style>


<div class="flexb whiteText">
    <h4>Welcome back @Html.DisplayFor(model => model.Salutation) @Html.DisplayFor(model => model.JudgeName)</h4>
</div>
<div class="flex justify-content-center">
    <input type="button" value="Create Criteria" onclick="location.href='@Url.Action("CreateCriteria", "Judge")'" />
    <input type="button" value="View Submission" onclick="location.href='@Url.Action("ViewSubmission", "Judge")'" />
</div>

