
<style>
    .logout-but, role {
        margin-right: 20px;
    }
</style>

<nav class="navbar navbar-expand-md navbar-collapse bg-light navbar-light">
    <!-- The brand(or icon) of the navbar -->
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GameTime</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#staffNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="staffNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="~/AreaOfInterest/Index">View Area Of Interests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Competition/Index">View Competitions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="~/ViewCompetition/Index">Competition Results</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item logout-but">
                <a class="btn btn-outline-success text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
            </li>

            <li class="nav-item role">
                <span class="navbar-brand">Role: Admin</span>
            </li>
        </ul>

    </div>
</nav>
