
@{
    ViewData["Title"] = "ErrorPage";
}
<style>
    body {
        background-color: darkviolet;
    }

    .whiteText {
        color: snow;
    }
</style>
<h1 class="whiteText">OOPS!</h1>

<h2 class="whiteText">@ViewData["Error"]</h2>
<br />
<div>
    <a class="btn btn-primary" href="~/Home">Back to Admin HomePage</a>
</div>
<br />
<div>
    <a class="btn btn-primary" asp-action="Index">Back to Area of Interest List</a>
</div>