
@{
    ViewData["Title"] = "Admin";
}
<style>
    body {
        background-color: darkviolet;
    }

    .text {
        color: snow;
    }

    .flexb {
        display: flex;
        justify-content: center;
    }
    

    .welcome {
        align-items: end;
        height: 200px;
    }
</style>

<div class="text">
    <h2 style="text-align: center;">WELCOME ADMIN</h2>
    <h3 style="text-align: center;">You can choose to Create Interest or Create A Competition.</h3>
    <br />
    <p style="text-align: center;">&nbsp;</p>
    <h3 style="text-align: center;">You can also Update and Delete Competitions, Assign and Remove Judges.</h3>
    <p style="text-align: center;">&nbsp;</p>
    <br />
    <h4 style="text-align: center;">Have a great time with GameTime</h4>
    <h6 style="text-align: center;">presented by Lion City University</h6>
</div>

