
@{
    ViewData["Title"] = "Competitor";
}

<h1>Welcome, Competitor @ViewData["CompetitorName"]</h1>

<h2>Join a Competition!</h2>

<a asp-action="CompetitorViewCompetition" asp-controller="Competitor">View All Competitions</a>

<h2>Competitions You have Joined.</h2>

<a asp-action="JoinedCompetitions" asp-controller="Competitor">Competitions Entered</a>