
@{
    ViewData["Title"] = "Competitor";
}
<style>
    body {
        background-color: darkviolet;
    }

    .whiteText {
        color: snow;
    }
</style>

<div class="whiteText text-center">
    <h2>Welcome, @ViewData["CompetitorName"].</h2>
    <br />
    <h3>Join a Competition!</h3>
    <p>Click below to view all available competitions to join!</p>
    <a class="btn btn-primary" asp-action="CompetitorViewCompetition" asp-controller="Competitor">View All Competitions</a>
    <br />
    
    <h3>Competitions You have Joined.</h3>
    <p>Click below to view the progress of the competitions you have joined!</p>
    <a class="btn btn-primary" asp-action="JoinedCompetitions" asp-controller="Competitor">Competitions Entered</a>
</div>
