@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    body {
        background-color: darkviolet;
    }

    .whiteText {
        color: snow;
    }
</style>
<h1 class="whiteText">
    Contact Us
</h1>
<p class="whiteText">
    If you have any inquiries about our website, please contact our <a style="color: palegoldenrod;" href="mailto:s10203441@connect.np.edu.sg">Administrator</a>.
</p>