@{
    ViewData["Title"] = "Features";
}
<style>
    body {
        background-color: darkviolet;
    }

    .whiteText {
        color: snow;
    }
</style>

<html>
<body class="whiteText">
    <h4>
        Competition Administration
    </h4>
    <ul>
        <li>
            Adminstration Login with Email &amp; Password
        </li>
        <li>
            Create New Competitions
        </li>
        <li>
            Update Competitions
        </li>
        <li>
            Delete Competitions
        </li>
        <li>
            Add Judges to Competitions
        </li>
        <li>
            Remove Judges from Competitions
        </li>
    </ul>
    <h4>
        Competition Submission
    </h4>
    <ul>
        <li>
            Competitor Login with Email &amp; Password
        </li>
        <li>
            Competitor Login with Google Sign In
        </li>
        <li>
            View Available Competitions
        </li>
        <li>
            View Criteria of available Competitions
        </li>
        <li>
            Join Available Competitions
        </li>
        <li>
            View Participating Competitions
        </li>
        <li>
            Submit Work for Participating Competitions
        </li>
        <li>
            View Score for Competitions Participated
        </li>
        <li>
            Appeal for review of Score
        </li>
    </ul>
    <h4>
        Competition Judging
    </h4>
    <ul>
        <li>
            Judge Login with Email &amp; Password
        </li>
        <li>
            Create Criteria for Competitions
        </li>
        <li>
            View Competition Submissions
        </li>
        <li>
            Add / Edit Competitor's Score
        </li>
        <li>
            View Competitor's Submissions
        </li>
        <li>
            View Competitor's Appeal
        </li>
        <li>
            Rank Competitors
        </li>
    </ul>
    <h4>
        View Competition Results
    </h4>
    <ul>
        <li>
            View Competitions
        </li>
        <li>
            Search Competitions by Name
        </li>
        <li>
            Vote for Competitors in Ongoing Competitions
        </li>
        <li>
            View Competitor's Submissions
        </li>
        <li>
            Send Comments
        </li>
    </ul>
</body>
</html>
