@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-color: darkviolet;
    }
    .whiteText{
        color:snow;
    }
</style>
<div class="text-center whiteText">
    <h4>Lion City University presents...</h4>
    <h2 class="display-4"><b>Game Time</b></h2>
    <br />
    <h5>For us to arrange, you to judge</h5>
    <br />
    <h6>A judging platform for competitions of any kind</h6>
    <p>
        Gametime allows you to create competitions, be a judge, let you compete and even view the results of the competitions.
    </p>
    
    <div>
        <a class="btn btn-success" href="/ViewCompetition/Index">Click to View Competitions</a>
    </div>
</div>
