
@{
    ViewData["Title"] = "Login";
}

    
<div>
    <form method="post" action="~/Home/Login">
        <fieldset class="loginFieldset">
            <legend>Login</legend>
            <label for="emailAddr">Email Address:</label>
            <input type="email" name="emailAddr"
                   id="emailAddr" required /><br />
            <label for="txtPassword">Password:</label>
            <input type="password" name="txtPassword"
                   id="txtPassword" style="width:100px"
                   required />
            <input type="submit" id="btnStaffLogin"
                   class="myButton" value="Login" />
            <br />
            <span style="color:red;">@TempData["invalidLogin"]</span>
        </fieldset>
    </form>
</div>

