
@{
    ViewData["Title"] = "Login";
}

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<style>
    body {
        background-color: darkviolet;
    }

    .btn-login {
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
        padding: 0.75rem 1rem;
    }
</style>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-light fs-5">Sign In</h5>
                        <form method="post" action="~/Home/Login">

                            <div class="form-floating mb-3">
                                <label for="floatingInput">Email address</label>
                                <input type="email" class="form-control" name="emailAddr"
                                       id="floatingInput" placeholder="name@example.com" required />

                            </div>

                            <div class="form-floating mb-3">
                                <label for="floatingPassword">Password</label>
                                <input type="password" class="form-control" name="txtPassword"
                                       id="floatingPassword" placeholder="Password" required />

                            </div>

                            <div class="d-grid">
                                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">
                                    Sign in
                                </button>
                            </div>

                            <hr class="my-4">
                            <p>For Competitor</p>
                            <div class="d-grid mb-2">
                                <a href="~/Home/CompetitorLogin" class="myButton">
                                    Sign-in with Google <i class="fab fa-google me-2" style='font-size:36px;'></i>
                                </a>
                                <br />
                                <br />
                                <a href="~/Home/Privacy">Privacy Policy</a>

                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


<!--

<div>
    <form method="post" action="~/Home/Login">
        <fieldset class="loginFieldset">
            <legend>Login</legend>
            <label for="emailAddr">Email Address:</label>
            <input type="email" name="emailAddr"
                   id="emailAddr" required /><br />
            <label for="txtPassword">Password:</label>
            <input type="password" name="txtPassword"
                   id="txtPassword" style="width:100px"
                   required />
            <input type="submit" id="btnStaffLogin"
                   class="myButton" value="Login" />
            <br />
            <span style="color:red;">@TempData["invalidLogin"]</span>
        </fieldset>
    </form>
</div>
<div>
    <fieldset class="loginFieldset">
        <legend>Competitor Login</legend>
        <p>
            <a href="~/Home/CompetitorLogin" class="myButton">Sign in with Google</a>
        </p>
        <a href="~/Home/Privacy">Privacy Policy</a>
    </fieldset>
</div>




-->
